<!-- edit_product.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Edit Product - MilkyCompany</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <nav class="navbar">
    <h1>Edit Product - MilkyCompany</h1>
  </nav>

  <div class="container">
    <h2>Edit Product</h2>
    <form action="{{ url_for('update_product', product_id=product.id) }}" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="{{ product.name }}" required>

      <label for="image_url">Image URL:</label>
      <input type="text" id="image_url" name="image_url" value="{{ product.image_url }}" required>

      <label for="price">Price:</label>
      <input type="number" id="price" name="price" value="{{ product.price }}" required>

      <label for="description">Description:</label>
      <textarea id="description" name="description" required>{{ product.description }}</textarea>

      <label for="category">Category:</label>
      <input type="text" id="category" name="category" value="{{ product.category }}" required>

      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" value="{{ product.quantity }}" required>

      <button type="submit" class="button">Update</button>
    </form>
  </div>
</body>
</html>
